@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lato&family=Raleway&family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Amatic SC", cursive;
  font-family: "Lato", sans-serif;
 
}
.container-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.contact-column {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.social-links {
  display: flex;
  justify-content: center;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}
.address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.social-icon {
  margin: 0 10px;
  padding: 10px;
  border: #fff solid 2px;
  border-radius: 50%;
}
.social-icon:hover {
  box-shadow: 0 1px 26px blue;
}
.social-icons-titulo {
}

.form-footer-container{
    
}
.form-footer {
  background-color: #ccc;
  padding: 20px;
  margin-top:20px;
  margin: 10px;
  color: #222;
}

.copyright {
  width: 100%;
  text-align: center;
}


@media (min-width: 120px) and (max-width: 767px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
  }
  
  .contact-column {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  .contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
  }
  .social-icons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
  }
  .address {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  
  .social-icon {
    margin: 0 10px;
    padding: 10px;
    border: #fff solid 2px;
    border-radius: 50%;
  }
  .social-icon:hover {
    box-shadow: 0 1px 26px blue;
  }
  .social-icons-titulo {
  }
  
  .form-footer-container{
      
  }
  .form-footer {
    background-color: #ccc;
    padding: 20px;
    margin-top:20px;
    margin: 10px;
    color: #222;
  }
  
  .copyright {
    width: 100%;
    text-align: center;
  }
  
}