.header-video{
    position: relative;
    width: 100%;
    color: transparent;
    height: 40%;
    background:#fff;
    
  }
  

/* .video-container{
    position: relative;
    width: 100%;
} */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
  }
  
.video-background{
    width: 100%;
    object-fit: cover;
}

.navbar{
    display: flex;
    position: absolute;
    left: 350px;
    top: 5%;
    justify-content: space-around;
    background:transparent;
    z-index:15;

}

.nav-link-routes{
    display: flex;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: space-around;
    z-index:15;
    padding:10px;
    border-radius: 15px;
    border: 3px solid rgba(0, 0, 0, 0.7)
}
.nav-link-routes:hover{
    background-color: transparent;
    border: 3px solid #fa0f0f;
    cursor: pointer;
    border-radius: 15px;
}

.navbar-brand img {
    position: absolute;
    border-radius: 50%;
    background:blue;
    width: 10%;
    top:5%;
    z-index:15;

  }
  