/* Estilos para el fondo de video y superposición */

.container-viajes {
  display: flex;
  flex-direction: column;
}



.section-columnas{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.imagen-viaje {
  width: auto;
  height: auto;
  object-fit: contain;
}

.content {
  z-index: 5;
  color: white;
  text-align: center;
  padding: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;

}


.container-carrousel-general {
  margin-top: 500px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  background-color: #999;
}


.container-carrousel {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  margin-top:50px;
  margin-bottom:50px;
  background-color: #ccc;
  padding: 50px; /* Espacio superior para centrar elementos en pantalla */
}
.carrousel-item  {
  width: 100%;
  height: auto;
}

.star {
  color: yellow; 
  background-color:red;
}

.star-rating .half-star {
  position: relative;
  width: 1em;
  display: inline-block;
  color: blue;
}


.empty-star {
  color: white; 
}

.star-rating {
  display: flex;
  align-items: center;
  
}



.star-yellow,
.star-white {
  width: 50%;
  height: 100%;
  display: inline-block;
  
}

.star-yellow {
  background: yellow;
  
}

.star-white {
  background: white; 
  
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 1;
  }
}

.main-title {
  font-size: 2rem;
  margin-bottom: 20px;
  position: absolute;
  animation: flash 6s infinite;
  animation-delay: 10s; 
  z-index:15;
}

.main-title span {
  font-size: 1.5rem;
  display: block;
}


/* Estilos para las pestañas y carruseles */

.section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.star-rating {
  font-size: 1.5rem;
}

/* Estilos para la superposición en las imágenes del carrusel */


.card-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

.columna-1{
  display:flex;
  width: 80%;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;
  margin-top: 15px;
  text-align: center;
}
.columna-2{
  display:flex;
  width: 80%;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}


@media (min-width: 120px) and (max-width: 767px) {
  /* Estilos para el fondo de video y superposición */

.container-viajes {
  display: flex;
  flex-direction: column;
}





.section-columnas-pricipal{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.section-columnas{
  width:100%;
  display:flex;
  flex-direction:column;
}

.imagen-viaje {
  width: auto;
  height: auto;
  object-fit: contain;
}

.content {
  z-index: 5;
  color: white;
  text-align: center;
  padding: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;

}


.container-carrousel-general {
  margin-top: 500px;
  margin-bottom: 100px;
  padding-bottom: 50px;
 
}


.container-carrousel {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  margin-top:50px;
  margin-bottom:50px;
  background-color: #ccc;
  padding: 50px; /* Espacio superior para centrar elementos en pantalla */
}
.carrousel-item  {
  width: 100%;
  height: auto;
  
}

.star {
  color: yellow; 
  background-color:red;
}

.star-rating .half-star {
  position: relative;
  width: 1em;
  display: inline-block;
  color: blue;
}


.empty-star {
  color: white; 
}

.star-rating {
  display: flex;
  align-items: center;
  
}



.star-yellow,
.star-white {
  width: 50%;
  height: 100%;
  display: inline-block;
  
}

.star-yellow {
  background: yellow;
  
}

.star-white {
  background: white; 
  
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 1;
  }
}

.main-title {
  font-size: 2rem;
  margin-bottom: 20px;
  position: absolute;
  animation: flash 6s infinite;
  animation-delay: 10s; 
  z-index:15;
}

.main-title span {
  font-size: 1.5rem;
  display: block;
}


/* Estilos para las pestañas y carruseles */

.section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.star-rating {
  font-size: 1.5rem;
}

/* Estilos para la superposición en las imágenes del carrusel */


.card-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

.columna-1{
  display:flex;
  width: 100%;
  justify-content: space-around;
  background-color: #fff;
  margin-top: 15px;
  text-align: center;
}
.columna-2{
  display:flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
}