.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  text-align: center;
  align-items: center;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.discount-label {
  color: red;
  font-weight: bold;
}
